<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sports.com.persistance.mapper.ComMapper">
	<select id="getCommentList" resultType="TestDTO">
		SELECT * FROM ACADEMY;
	</select>
	
	<select id="getfile_grp" resultType="ProductFileDTO">
		SELECT IFNULL(MAX(FILE_GRP),10000000) +1 AS FILE_GRP FROM PROD_FILE
	</select>
	
	<insert id="file_reg" parameterType="ProductFileDTO">
		INSERT INTO PROD_FILE
		 (FILE_NO, FILE_GRP, FILE_PATH, ORG_FILENAME, SRC_FILENAME, REG_USER_NO, REG_DT)
		VALUES
		 ((SELECT IFNULL(MAX(FILE_NO),10000000) +1 AS FILE_NO FROM (SELECT FILE_NO FROM PROD_FILE) PRD_FILE), #{file_grp}, #{file_path}, #{org_filename}, #{src_filename}, #{reg_user_no}, NOW())  
	</insert>
</mapper>