<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sports.com.persistance.mapper.NoticeMapper">
	<select id="getNoticeList" resultType="NoticeDTO">
		SELECT NOTICE_NO, TITLE,
		CONTENTS, NOTICE_YN , REG_USER_NO, REG_DT,
		CHG_USER_NO, USER_NO, CHG_DT
		FROM NOTICE_INFO_A ORDER BY NOTICE_YN, NOTICE_NO DESC
		LIMIT 6;
	</select>

	<insert id="InsertNoticeInfo" parameterType="NoticeDTO">
		INSERT INTO
		NOTICE_INFO_A
		(
		TITLE, NOTICE_YN, CONTENTS, USER_NO,
		REG_USER_NO, REG_DT, CHG_USER_NO, CHG_DT
		)
		VALUES(
		#{title}, #{notice_yn}, #{contents}, #{user_no}, #{user_no}, NOW(), #{user_no},
		NOW()
		)
	</insert>

	<select id="getNoticeDetailInfo" resultType="NoticeDTO">
		SELECT NOTICE_NO,
		TITLE, CONTENTS, NOTICE_YN , REG_USER_NO, DATE_FORMAT(REG_DT,
		'%Y-%m-%d') AS REG_DT,
		CHG_USER_NO, CHG_DT FROM NOTICE_INFO_A
		WHERE NOTICE_NO=#{notice_no}
		ORDER BY NOTICE_YN, REG_DT DESC
	</select>

	<update id="deleteNoticeInfo" parameterType="NoticeDTO">
		DELETE FROM
		NOTICE_INFO_A
		WHERE NOTICE_NO = #{notice_no}
	</update>
	
	<update id="deleteCheckList" parameterType="NoticeDTO">
		DELETE FROM
		NOTICE_INFO_A
		WHERE NOTICE_NO IN
		<foreach  separator="," open="(" close=")" collection="allCheckSeq"
			index="index" item="item"> #{item}
		</foreach>
	</update>

	<update id="updateNoticeInfo" parameterType="NoticeDTO">
		UPDATE NOTICE_INFO_A
		SET TITLE=#{title}, CONTENTS=#{contents}, NOTICE_YN=#{notice_yn},
		CHG_DT=NOW() WHERE NOTICE_NO = #{notice_no}
	</update>

	<!-- 더보기 -->
	<select id="getNotice_MoreView" resultType="NoticeDTO" parameterType="NoticeDTO"	>
		SELECT NOTICE_NO,
		TITLE, CONTENTS, NOTICE_YN , REG_USER_NO, REG_DT,
		CHG_USER_NO, USER_NO,
		CHG_DT
		FROM NOTICE_INFO_A
		<if test='search!=""'>WHERE TITLE LIKE CONCAT('%', #{search}, '%')</if>
		ORDER BY NOTICE_YN, NOTICE_NO
		DESC
		LIMIT 6 OFFSET ${read_more};
	</select>

	<select id="getSearchList" resultType="NoticeDTO" parameterType="NoticeDTO">
	
		SELECT N.NOTICE_NO, N.NOTICE_YN, N.TITLE, N.USER_NO, N.REG_USER_NO, DATE_FORMAT(N.REG_DT, '%Y-%m-%d %T') AS REG_DT
	    FROM NOTICE_INFO_A N
	    WHERE N.TITLE LIKE CONCAT('%', #{search}, '%')
	 	ORDER BY N.NOTICE_YN ASC, N.NOTICE_NO DESC
	 	LIMIT 6;
	
	</select>

</mapper>