<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sports.com.persistance.mapper.ProductInfoMapper">

<select id ="getProductInfolist" resultType="ProductInfoDTO">
SELECT PROD_NO, PROD_NAME, PROD_PRICE FROM PRODUCT_INFO 
ORDER BY PROD_NO+0 DESC LIMIT 6;

</select>


<select id ="getProductInfoDetail" resultType="ProductInfoDTO">

SELECT PROD_NO, PROD_NAME, PROD_PRICE, PROD_CONTENTS FROM PRODUCT_INFO WHERE prod_no = #{prod_no}

</select>

<insert id ="ProductInfoInsert" parameterType="ProductInfoDTO">

	INSERT INTO PRODUCT_INFO 
		(PROD_NO, PROD_NAME, PROD_PRICE, PROD_CONTENTS)
	VALUES ((SELECT IFNULL(MAX(A.PROD_NO), 1000000)+1 FROM PRODUCT_INFO A), #{prod_name}, #{prod_price}, #{prod_contents})

</insert>


<delete id="ProductInfoDelect" parameterType="ProductInfoDTO">
		DELETE FROM PRODUCT_INFO
		WHERE PROD_NO = #{prod_no}	
	</delete>
	
		<!-- order by <if test="prod_price.equals(lowprice)"> prod_price ASC </if>
		<if test="prod_price.equals()"> prod_price DESC </if> -->
		
<update id="ProductInfoUpdate" parameterType="ProductInfoDTO">
	
		UPDATE PRODUCT_INFO
		SET	PROD_NAME = #{prod_name},
			PROD_PRICE = #{prod_price},
			PROD_CONTENTS = #{prod_contents}
		WHERE PROD_NO = #{prod_no}	
	
	</update>
	
<select resultType="ProductInfoDTO" id="getAllSearch" parameterType="ProductInfoDTO">
 SELECT PROD_NO, PROD_NAME, PROD_PRICE FROM PRODUCT_INFO 
 WHERE PROD_NAME LIKE CONCAT('%', #{prod_name}, '%') 
 </select>

<select resultType="ProductInfoDTO" id="getHighpriceSearch" parameterType="ProductInfoDTO">
SELECT PROD_NO, PROD_NAME, PROD_PRICE FROM PRODUCT_INFO 
 WHERE PROD_NAME LIKE CONCAT('%', #{prod_name}, '%') ORDER BY PROD_PRICE DESC 
 </select>

<select resultType="ProductInfoDTO" id=" getLowpriceSearch" parameterType="ProductInfoDTO">
SELECT PROD_NO, PROD_NAME, PROD_PRICE FROM PRODUCT_INFO 
 WHERE PPROD_NAME LIKE CONCAT('%', #{prod_name}, '%') ORDER BY PROD_PRICE ASC

 </select>

<!-- 더보기 버튼 구현 -->
	<select resultType="ProductInfoDTO" id="getReadMore" parameterType="ProductInfoDTO" >
		SELECT PROD_NO, PROD_NAME, PROD_PRICE
		FROM PRODUCT_INFO
		ORDER BY PROD_NO DESC
		LIMIT 6 OFFSET ${read_more}
	</select>
	

</mapper>